#propContainer{
    padding-top: 50px;
}

#infoCard{
    padding: 30px;
}

.custom-btn{
    background-color: var(--base-col);
    color: white;
}

.custom-btn:hover{
    background-color: var(--base-col);
    color: white;
}

