

#propDisplay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 10px;
    margin: 20px 0;
}

.propContainer {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.propContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}

img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.propInfo{

    padding: 10px 20px 20px 25px;
}

.propInfo h3{
    font-size: 24px;
    font-weight: bold;
}

.propInfo p{
    margin: 5px 0;
    font-size: 0.9rem;
    color: #a09f9f;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

a{
    margin-top: auto;
}
.viewProp{
    background-color: #2ac1a0;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: background-color 0.3s;
}

.viewProp:hover {
    background-color: #24a38a;
}