{% extends "base.html" %}
{% block css%}
    <link rel="stylesheet" href = "{{url_for('static', filename = 'css/form.css')}}">
{%endblock %}
{%block main%}
<div>
    <h1>Add Property</h1>
</div>
<div class = "formContainer">
    <form action = "{{url_for('addProperty')}}" method="POST" enctype= "multipart/form-data">
        {{ form.csrf_token }}
          
    <div class = "col-md-8 mb-3">
        {{ form.title.label (class="form-label")}}
        {{ form.title (class="form-control")}}
    </div>
    <div class = "col-md-8 mb-3">
        {{ form.desc.label (class="form-label")}}
        {{ form.desc (class="form-control", rows = "4")}}

    </div>

    <div class = "row mb-3">
        <div class = "col-md-4">
            {{ form.numRooms.label (class="form-label")}}
            {{ form.numRooms (class="form-control")}}
        </div>

        <div class = "col-md-4">
            {{ form.numBaths.label (class="form-label")}}
            {{ form.numBaths (class="form-control")}}
        </div>

    </div>
    <div class = "row mb-3">
        <div class = "col-md-4">
            {{ form.price.label (class="form-label")}}
            {{ form.price (class="form-control")}}
        </div>

        <div class = "col-md-4">
            {{ form.ptype.label (class="form-label")}}
            {{ form.ptype (class="form-control")}}
        </div>
    </div>


    <div class = "col-md-8 mb-3">
        {{ form.location.label (class="form-label")}}
        {{ form.location (class="form-control")}}
    </div>

    <div class = "col-md-8 mb-3">
        {{ form.photo.label (class="form-label")}}
        {{ form.photo (class="form-control")}}
    </div>
    <button type="submit" class="btn btn-primary">Add Property</button>
    
    </form>
</div>
{%endblock%}