{% extends "base.html" %}

{% block main%}
    <h1>Properties</h1>
    <div id = "propDisplay">
        {% for i in properties%}
            <div class = "propContainer">
                <img src = "{{url_for('get_image', filename = i.filename)}}">

                <h3 class = "title">{{i.title}}</h3>
                <p class = "location">{{i.location}}</p>
                <span class = "price">{{i.price}}</span>
                <a href="{{ url_for('viewProperty', id=i.id) }}">
                    <button class="viewProp">View Property</button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}